<div class="row">
  {{#bookmarks}}
  <section class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="/bookmark/{{id}}" class="thumbnail bookmark-thumbnail">
      <img src="/illust/{{id}}{{ext}}" alt="bookmark">
    </a>
  </section>
  {{/bookmarks}}
  {{^bookmarks}}
  <section class="col-xs-12">
    <p>まだブックマークがありません。</p>
    <p>新しく追加しましょう！</p>
    <a class="btn btn-primary" data-toggle="modal" href="#add-bookmark-modal"><span class="glyphicon glyphicon-plus"></span> 追加</a>
  </section>
  {{/bookmarks}}
</div>
