  </div>
  {{! /wrap}}

  <!-- footer -->
  <footer class="footer">
    <div class="container">
      <p class="credit">Illust Bookmark</p>
    </div>
  </footer>

  {{> modal}}

  <script src="/bower/jquery/jquery.min.js"></script>
  <script src="/bower/jquery-pjax/jquery.pjax.js"></script>
  <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/js/lib/html2canvas.js"></script>
  <script>var csrf_token = "{{csrf_token}}";</script>
  <script src="/js/ui.js"></script>
</body>
</html>