<!-- menu -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/">Illust Bookmark</a>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="{{#menu}}home{{/menu}}">
      <a href="/home">ホーム</a>
    </li>
    <li class="{{#menu}}bookmark{{/menu}}">
      <a href="/bookmark">ブックマーク</a>
    </li>
    <li class="{{#menu}}group{{/menu}}">
      <a href="/group">まとめ</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="{{#menu}}add{{/menu}}">
      <a data-toggle="modal" href="#add-bookmark-modal">
        <span class="glyphicon glyphicon-plus"></span> Add
      </a>
    </li>
    <li class="{{#menu}}settings{{/menu}}">
      <a href="/settings">
        <span class="glyphicon glyphicon-wrench"></span>
        Settings
      </a>
    </li>
  </ul>
</div>
