{{> header}}

  <!-- content -->
  <div class="container">
    <div class="row">
      <section class="col-sm-4">
        <a class="thumbnail">
          <img src="http://placehold.it/390x390" alt="thumbsnail">
        </a>
      </section>
      <section class="col-sm-8">
        <h2>タイトル</h2>
        <h3>Metadata</h3>
        <dl class="dl-horizontal">
          <dt>host:</dt>
          <dd>placehold.it</dd>

          <dt>bookmark:</dt>
          <dd>42</dd>
          
          <dt>filesize:</dt>
          <dd>120KB</dd>
          
          <dt>size:</dt>
          <dd>128x256</dd>
        </dl>
      </section>
    </div>
    <div class="row">
      <section class="col-sm-12">
        <h3>コメント</h3>
      </section>
    </div>
  </div>

{{> footer}}