{{> header}}

  <!-- content -->
  <div class="container">
    <section class="jumbotron">
      <div class="container">
        <h1>Illust Bookmark</h1>
        <p class="lead">あなたの好きなイラストをオンラインで。</p>
        <div id="using-guide" class="using-guide">
          <h2>イラスト用のブックマークサービス、始めました。</h2>
          <p>
            オンラインで公開されているすべてのイラストを管理できます。<br>
            ブックマーク、タグ付け、そして検索。シンプルで直感的です。
          </p>
          <h2>ブックマークのその先へ。</h2>
          <p>
            ブックマークはすべてのユーザで共有され、自由なタグ付けを可能にします。<br>
          </p>
          <h2>Google アカウントに対応。</h2>
          <p>
            新しくアカウントを作成する必要はありません。<br>
            お手持ちのアカウントで新たな体験を手に入れてください。
          </p>
          <a href="/oauth/google">
            <img class="sign-in-with-google" src="/img/sign-in-with-google.png">
          </a>
        </div>
        <button type="button" id="use-button" class="btn btn-primary btn-lg">&gt;&gt; 使う。</button>
      </div>
    </section>
  </div>

{{> footer}}