{{> header}}

  <!-- content -->
  <div class="container">
    <div class="row">
      {{#bookmark}}
      <section class="col-sm-4">
        <a href="{{imageUrl}}" class="thumbnail">
          <img src="{{imageUrl}}" alt="thumbsnail">
        </a>
      </section>
      <section class="col-sm-8">
        <h2>{{title}}</h2>
        <div class="panel panel-default">
          <div class="panel-heading">Metadata</div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>掲載元 URL:</dt>
              <dd>{{url}}</dd>

              <dt>ブックマーク数:</dt>
              <dd>42</dd>
              
              <dt>画像サイズ:</dt>
              <dd>128x256</dd>

              <dt>登録日時:</dt>
              <dd>{{timestamp}}</dd>
            </dl>
          </div>
        </div>
      </section>
      {{/bookmark}}
    </div>
    <div class="row">
      <section class="col-sm-12">
        <h3>コメント</h3>
      </section>
    </div>
  </div>

{{> footer}}